<html>
<head><title>Vote</title></head>
<style>
    body{background: rgb(234, 67, 53,0.7);color:#fff;}
    .login{width:30%;margin:auto;text-align:center;font-family:arial;margin-top:30vh;box-shadow:0 4px 8px rgba(0,0,0,0.1);padding:24px;background: rgb(234, 67, 53);border-radius:4px;}
</style>
<body>
    <div class="login">
        ERROR !<br/><br/>
        Already Voted.
    </div>
</body>
</html>